@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: IRANSansX;
  src: url(../fonts/IRANSansXFaNum-Black.ttf);
  font-weight: 900;
}
